@import "../../styles/base/variables.scss";

.root {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  height: 1000vh;
  display: flex;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  align-items: center;
  transition: opacity $transition * 2 ease;

  &:global(.active) {
    opacity: 1;
    pointer-events: all;
  }

  h1 {
    font-size: 5.5rem;
    color: $white;
    user-select: none;
    line-height: 0.9;
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    padding: 4rem 0;
    min-height: 0;

    h1 {
      font-size: 4.6875rem;
    }
  }

  @include media-breakpoint-down(lg) {
    h1 {
      font-size: 2.8125rem;
    }
  }
}

.rootFeature {
  width: 100vw;
  height: 100vh;
  padding-top: $header-height;

  :global(.container) {
    height: 100%;

    :global(.row) {
      height: 100%;
    }
  }
}

.heading {
  text-transform: uppercase;
}

.rootMobile1 {
  position: relative;
  height: auto;
  padding: 2rem 0;
  min-height: 0;
  margin-top: 300px;
  margin-bottom: 50px;

  h1 {
    font-size: 2.1875rem;
    color: $white;
    user-select: none;
    line-height: 0.9;
  }
}

.rootMobile4 {
  position: relative;
  height: auto;
  padding: 2rem 0;
  min-height: 0;
  margin-top: -70px;
  margin-bottom: 300px;

  h1 {
    font-size: 2.1875rem;
    color: $white;
    user-select: none;
    line-height: 0.9;
  }
}

.mobile1Inner {
  padding: 0 3rem;
  text-align: center;
  padding-top: 200px;
  margin: 0 auto;
}

.mobile3Inner {
  padding: 0 3rem;
  padding-top: 200px;
  margin: 0 auto;
}

.mobile4Inner {
  padding: 0 3rem;
  padding-bottom: 200px;
  margin: 0 auto;
}

.rootMobile {
  position: relative;
  height: auto;
  padding: 4rem 0;
  min-height: 0;

  h1 {
    font-size: 7rem;
    color: $white;
    user-select: none;
    line-height: 0.9;
  }

  @include media-breakpoint-down(lg) {
    h1 {
      font-size: 4.6875rem;
    }
  }

  @include media-breakpoint-down(lg) {
    h1 {
      font-size: 2.8125rem;
    }
  }
}

.featureSection {
  width: 100%;
  height: 100%;
}

.titleContainerMobile {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  pointer-events: none;
  transition: opacity $transition * 3 ease;
}

.titleContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  pointer-events: none;

  h1 {
    font-size: 5.5rem;
    color: $white;
    user-select: none;
    line-height: 0.9;
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    padding: 4rem 0;
    min-height: 0;

    h1 {
      font-size: 4.6875rem;
    }
  }

  @include media-breakpoint-down(lg) {
    h1 {
      font-size: 2.8125rem;
    }
  }
}

.paragraphInnerDesktop {
  max-width: 400px;

  @include media-breakpoint-down(lg) {
    max-width: 700px;
  }

  @include media-breakpoint-down(md) {
    max-width: 400px;
  }
}

.paragraphInnerDesktop2 {
  max-width: 500px;

  @include media-breakpoint-down(lg) {
    max-width: 700px;
  }

  @include media-breakpoint-down(md) {
    max-width: 400px;
  }
}

.paragraphInner {
  max-width: 400px;
  margin: 0 auto;

  @include media-breakpoint-down(lg) {
    max-width: 700px;
  }

  @include media-breakpoint-down(md) {
    max-width: 400px;
  }
}

.likeAnimation {
  position: absolute;
  top: -80px;
  right: 20px;
  width: 210px;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all $transition * 2 cubic-bezier(0.51, 0.92, 0.24, 1.15);

  &:global(.active) {
    transform: scale(1);
  }

  @include media-breakpoint-down(lg) {
    width: 160px;
    height: 160px;
    bottom: -70px;
    right: 40px;
  }

  @include media-breakpoint-down(md) {
    width: 80px;
    height: 80px;
    top: -10px;
    right: 20px;
  }
}

.likeBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  animation: spin 40s linear infinite;
}

.likeVideo {
  position: relative;
  z-index: 2;
  width: 115px;
  height: 115px;
  border-radius: 50%;
  overflow: hidden;
  transform: rotate(15deg);

  @include media-breakpoint-down(lg) {
    width: 90px;
    height: 90px;
  }

  @include media-breakpoint-down(md) {
    width: 40px;
    height: 40px;
  }
}

.phoneMobile {
  position: relative;
  width: 220px;
  height: 446px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;

  transition: opacity $transition ease;

  &:global(.active) {
    opacity: 1;
    transition-delay: 1000ms;
  }
}

.phoneMobileBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: opacit $transition ease;

  &:global(.hide) {
    opacity: 0;
  }
}

.videoMobileContainer {
  width: 200px;
  height: 433px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;

  svg {
    border-radius: 30px;
    overflow: hidden;
  }

  &:global(.visible) {
    overflow: visible;

    svg {
      border-radius: 30px;
      overflow: visible;
    }
  }
}

.blockShapeMobile {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: $gutter/4;
  width: calc(100% - $gutter/2);
  height: 570px;
  pointer-events: none;
}

.phone1 {
  position: relative;
  transform: rotate(-15deg) translateX(150px);
  animation: floatP1 4s ease-in-out infinite;
}

.phone2 {
  position: relative;
  transform: translateX(-150px);
  animation: floatP2 4s ease-in-out infinite;
}

.phone3 {
  position: relative;
  transform: translateX(150px);
  animation: floatP3 4s ease-in-out infinite;
}

.phone4 {
  position: relative;
  transform: translateX(-150px) rotate(15deg) translateY(130px);
  animation: floatP4 4s ease-in-out infinite;
}

.phoneM1 {
  position: absolute;
  top: -220px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  opacity: 0;
  display: flex;
  transform-origin: center center;
  justify-content: center;
  transition: all $transition * 3 ease;

  &:global(.play) {
    opacity: 1;
    transform: rotate(-10deg) translateX(-50%);
  }
}

.phoneM2 {
  position: absolute;
  top: -220px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  opacity: 0;
  display: flex;
  transform-origin: center center;
  justify-content: center;
  transition: all $transition * 3 ease;

  &:global(.play) {
    opacity: 1;
    transform: translateX(-50%);
  }
}

.phoneM4 {
  position: absolute;
  bottom: -220px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  opacity: 0;
  display: flex;
  transform-origin: center center;
  justify-content: center;
  transition: all $transition * 3 ease;

  &:global(.play) {
    opacity: 1;
    transform: translateX(-50%) rotate(10deg);
  }
}

.phone {
  width: 331px;
  height: 671px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  opacity: 0;
  transition: opacity $transition ease;

  &:global(.active) {
    opacity: 1;
  }
}

.textInner {
  width: 100%;
}

.textInner2 {
  width: 100%;
  padding-left: 140px;
}

.phoneBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: opacity $transition ease;

  &:global(.hide) {
    opacity: 0;
  }
}

.videoContainer {
  width: 298px;
  height: 645px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;

  &:global(.visible) {
    overflow: visible;
  }
}

.blocks {
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: $header-height;
  pointer-events: none;

  &:global(.active) {
  }

  &:global(.enable) {
    pointer-events: all;
  }
}

.blocksInner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  transition: opacity $transition ease;

  &:global(.s0) {
    opacity: 0;
  }
}

.blockShape {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 570px;
  pointer-events: none;
}

.blockHeading {
  user-select: none;
  margin-bottom: 2rem;
}

.blockParagraph1 {
  max-width: 400px;
  height: 180px;
  position: relative;

  > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity $transition * 2 ease;
  }

  &:global(.play) {
    > div {
      &:first-child {
        opacity: 1;
      }
    }
  }

  &:global(.play2) {
    > div {
      &:first-child {
        opacity: 0;
      }
      &:last-child {
        opacity: 1;
        transition-delay: $transition * 4;
      }
    }
  }

  @include media-breakpoint-down(lg) {
    max-width: 700px;
  }

  @include media-breakpoint-down(md) {
    max-width: 400px;
  }
}

.blockInner {
  transition: all $transition * 3 ease;

  &:global(.play) {
    &:global(.offset2) {
      transform: translateY(-50px);
      transition-delay: $transition * 10;
    }
  }
}

.colum1 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  padding-left: 8rem;
}

.colum2 {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
}

.phoneVideo1,
.phoneVideo2,
.phoneVideo3,
.phoneVideo4 {
  border-radius: 30px;
  overflow: hidden;
}

.phoneVideo1,
.phoneVideo3,
.phoneVideo4 {
  width: 298px;
  height: 645px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.phoneVideo1,
.phoneVideo2,
.phoneVideo3,
.phoneVideo4 {
  transition: transform $transition ease;

  &:global(.active) {
    opacity: 1;
  }
}

.phoneVideo2 {
  width: 408px;
  height: 674px;
  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}

.phoneVideo2Mobile {
  width: 262px;
  height: 433px;
  position: absolute;
  top: 50%;
  right: -5px;
  overflow: hidden;
  transform: translateY(-50%);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;

  &:global(.mobile) {
    li {
      padding-left: 2rem;
    }
  }

  li {
    position: relative;
    padding: 0.25rem 0;
    padding-left: 3rem;
    display: flex;
    align-items: center;

    span {
      opacity: 0;
      display: block;
      transform: translateX(5px);
      transition: all $transition * 5 ease;
    }

    svg {
      position: absolute;
      top: 0.5rem;
      left: 0;
      transform: scale(0);
      transition: transform $transition * 5 cubic-bezier(0.51, 0.92, 0.24, 1.15);
    }
  }

  &:global(.play) {
    li {
      span {
        opacity: 1;
        transform: translateX(0);
      }
      svg {
        transform: scale(1);
      }

      &:nth-child(1) {
        span {
          transition-delay: 0;
        }
        svg {
          transition-delay: 0;
        }
      }

      &:nth-child(2) {
        span {
          transition-delay: $transition * 2;
        }
        svg {
          transition-delay: $transition * 2;
        }
      }

      &:nth-child(3) {
        span {
          transition-delay: $transition * 4;
        }
        svg {
          transition-delay: $transition * 4;
        }
      }

      &:nth-child(4) {
        span {
          transition-delay: $transition * 6;
        }
        svg {
          transition-delay: $transition * 6;
        }
      }

      &:nth-child(5) {
        span {
          transition-delay: $transition * 8;
        }
        svg {
          transition-delay: $transition * 8;
        }
      }
    }
  }
}

.progress {
  height: 6px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  opacity: 0;
  pointer-events: none;

  &:global(.active) {
    opacity: 1;
    transition: opacity $transition ease;
    transition-delay: $transition * 4;
  }

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: center left;
    background-color: rgba(255, 0, 255, 1);
  }

  &:global(.play) {
    &::after {
      transition: transform 7s linear;
      transform: scaleX(1);
    }
  }
}

.swiper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes phone {
  0% {
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translateY(100%) translateX(-50%);
  }
  5% {
    left: 50%;
    bottom: 0;
    transform: translateY(40%) translateX(-50%);
  }
  10% {
    left: 50%;
    bottom: 50%;
    transform: translateY(50%) translateX(-50%);
  }
  15% {
    left: calc((100vw - 1000px) / 2);
    bottom: 50%;
    transform: translateY(50%) translateX(0) rotate(-15deg);
  }
  25% {
    left: calc((100vw - 1000px) / 2);
    bottom: 50%;
    transform: translateY(50%) translateX(0) rotate(-15deg);
  }
  35% {
    left: calc(100vw - ((100vw - 600px) / 2));
    bottom: 45%;
    transform: translateY(50%) translateX(-50%);
  }
  40% {
    left: calc(100vw - ((100vw - 600px) / 2));
    bottom: 45%;
    transform: translateY(50%) translateX(-50%);
  }
  50% {
    left: calc(100vw - ((100vw - 600px) / 2));
    bottom: 45%;
    transform: translateY(50%) translateX(-50%);
  }
  57% {
    left: calc((100vw - 1000px) / 2);
    bottom: 45%;
    transform: translateY(50%) translateX(0);
  }
  65% {
    left: calc((100vw - 1000px) / 2);
    bottom: 45%;
    transform: translateY(70%) translateX(0);
  }
  75% {
    left: calc((100vw - 1000px) / 2);
    bottom: 45%;
    transform: translateY(70%) translateX(0);
  }
  82% {
    left: 50%;
    bottom: 45%;
    transform: translateY(50%) translateX(-50%);
  }
  90% {
    left: calc(100vw - ((100vw - 600px) / 2));
    bottom: 45%;
    transform: translateY(70%) translateX(-50%) rotate(10deg);
  }
  100% {
    left: calc(100vw - ((100vw - 600px) / 2));
    bottom: 45%;
    transform: translateY(70%) translateX(-50%) rotate(10deg);
  }
}

@keyframes floatP1 {
  0% {
    transform: translatey(0px) rotate(-15deg) translateX(150px);
  }
  50% {
    transform: translatey(-30px) rotate(-15deg) translateX(150px);
  }
  100% {
    transform: translatey(0px) rotate(-15deg) translateX(150px);
  }
}

@keyframes floatP2 {
  0% {
    transform: translatey(0px) translateX(-150px);
  }
  50% {
    transform: translatey(-30px) translateX(-150px);
  }
  100% {
    transform: translatey(0px) translateX(-150px);
  }
}

@keyframes floatP3 {
  0% {
    transform: translatey(0px) translateX(150px);
  }
  50% {
    transform: translatey(-30px) translateX(150px);
  }
  100% {
    transform: translatey(0px) translateX(150px);
  }
}


@keyframes floatP4 {
  0% {
    transform: translatey(0px) translateX(-150px) rotate(15deg);
  }
  50% {
    transform: translatey(-30px) translateX(-150px) rotate(15deg);
  }
  100% {
    transform: translatey(0px) translateX(-150px) rotate(15deg);
  }
}
