@import "../../styles/base/variables.scss";

.root {
  position: relative;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  h1 {
    font-size: 7.5rem;
    color: $white;
    user-select: none;
    line-height: 0.9;
  }

  @include media-breakpoint-down(xxl) {
    h1 {
      font-size: 5.625rem;
    }
  }

  @include media-breakpoint-down(lg) {
    height: auto;
    padding-bottom: 50px;

    h1 {
      text-align: center;
    }
  }

  @include media-breakpoint-down(md) {
    h1 {
      font-size: 2.5rem;
      text-align: center;
    }
  }
}

.markets {
  display: flex;
  margin-top: 3rem;

  > * {
    margin-right: 1.2rem;
  }

  @include media-breakpoint-down(lg) {

    justify-content: center;
    
    > * {
      margin: 0 0.5rem;
    }


    button {
      width: 205px;
      justify-content: center;
    }
  }

  @include media-breakpoint-down(md) {
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: center;

    > * {
      margin: 0.5rem 0;
    }
  }
}

.illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;

  @include media-breakpoint-down(lg) {
    min-height: 0;
    width: 400px;
    margin: 100px auto;
    margin-top: 130px;
  }

  @include media-breakpoint-down(md) {
    min-height: 0;
    width: 300px;
    margin: 100px auto;
    margin-top: 130px;
  }
}

.img1 {
  margin-right: -140px;
  margin-bottom: -140px;
  position: relative;
  z-index: 1;

  > span {
    animation: float1 4s ease-in-out infinite;
  }
}

.img2 {
  > span {
    animation: float2 4s ease-in-out infinite;
  }
}

.col1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.heading {
  height: 325px;

  @include media-breakpoint-down(lg) {
    height: 160px;
  }

  @include media-breakpoint-down(md) {
    height: 80px;
  }
}

@keyframes float1 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes float2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(30px);
  }
  100% {
    transform: translatey(0px);
  }
}
